 <div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title/Options</th>
        <!--<th>Item</th>-->
        <!--<th>Description</th>-->
        <th>Price</th>
        <th>Qty</th>
        <th>Total</th>
        <th><th>
      </tr>
    </thead>

    <tbody>
      <%= fields_for @sale do |f|%>
        <%= f.fields_for :items do |e| %>
          <% @line_item = @sale.line_items.where( item_id: e.object.id).first %>
          <tr>
            <%= e.hidden_field :id , class: 'item_id' %>
            <%= e.text_field :sku, :class => "form-control line_item_sku hidden", :placeholder => "SKU", :readonly => true %>
            <td><%= e.object.name %></td>
            <%= e.text_field :name, :class => "form-control hidden", :placeholder => "Item", :readonly => true %>
            <%= e.text_area :description, :class => "form-control hidden", :placeholder => "Description", :readonly => true %>
            <td>
              <input type="text" id="line_item_price" class='form-control price_control' style= 'font-size: 10px;'  value="<%= @line_item.price %>">
            </td>
            <td class="amount">
              <%= text_field(:line_item, :quantity, :class => 'form-control price_control', :readonly => 'readonly' , style: 'font-size: 10px;') %>
              <div class="adjust hidden-print">
                <%= link_to url_for(:controller => 'sales', :action => 'add_item', :item_id => e.object.id, :sale_id => @sale.id), :remote => true do %>
                  <span class="glyphicon glyphicon-plus"></span>

                <% end %>
                <%= link_to url_for(:controller => 'sales', :action => 'remove_item', :item_id => e.object.id, :sale_id => @sale.id), :remote => true do %>
                  <span class="glyphicon glyphicon-minus"></span>
                <% end %>
              </div>
            </td>
            <td><%= number_to_currency(@line_item.total_price, unit: current_company.currency) %></td>
            <td><%= link_to url_for(:controller => 'sales', :action => 'remove_lineitem', :line_item => @line_item, :sale_id => @sale.id), :remote => true do %>
                  <i class="fa fa-times text-danger text"></i>
              <% end %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>