%body
  %section.vbox
    %section.scrollable.padder
      / <div class="m-b-md">
      / <div class="row">
      / <div class="col-sm-6">
      / <h1 class="m-b-none m-t-sm"><strong><haml_silent></haml_silent> Dashboard</strong></h1>
      / &lt;!&ndash;<small>Statistics &amp; graph information</small>&ndash;&gt;
      / </div>
      / &lt;!&ndash;<div class="col-sm-6">&ndash;&gt;
      / &lt;!&ndash;<div class="text-right text-left-xs">&ndash;&gt;
      / &lt;!&ndash;<div class="sparkline m-l m-r-lg pull-right" data-type="bar" data-height="35" data-bar-width="6" data-bar-spacing="2" data-bar-color="#fb6b5b"><canvas width="86" height="35" style="display: inline-block; width: 86px; height: 35px; vertical-align: top;"></canvas></div>&ndash;&gt;
      / &lt;!&ndash;<div class="m-t-sm">&ndash;&gt;
      / &lt;!&ndash;<span class="text-uc">New users</span>&ndash;&gt;
      / &lt;!&ndash;<div class="h4">&ndash;&gt;
      / &lt;!&ndash;<strong>1,120,100</strong>&ndash;&gt;
      / &lt;!&ndash;</div>&ndash;&gt;
      / &lt;!&ndash;</div>&ndash;&gt;
      / &lt;!&ndash;</div>&ndash;&gt;
      / &lt;!&ndash;</div>&ndash;&gt;
      / &lt;!&ndash;</div>&ndash;&gt;
      / </div>
      / </div>
      .m-b-md
        %h3.m-b-none
          - current_user.company_name.titleize
        .alert.alert-success
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          %i.fa.fa-ok-sign
          %strong Welcome back!
          %a.alert-link{:href => "#"}= current_user.username.present? ? current_user.username.titleize : current_user.email
          choose a common task below to get started!.
      %section.panel.panel-default
        .row.m-l-none.m-r-none.bg-light.lter
          .col-sm-6.col-md-3.padder-v.b-r.b-light
            %span.fa-stack.fa-2x.pull-left.m-r-sm
              %i.fa.fa-circle.fa-stack-2x.text-dark
              %i.fa.fa-male.fa-stack-1x.text-white
            %a.clear{:href => customers_path}
              %span.h3.block.m-t-xs
                %strong= current_location.customers.count
              %small.text-muted.text-uc Total Customers
          .col-sm-6.col-md-3.padder-v.b-r.b-light.lt
            %span.fa-stack.fa-2x.pull-left.m-r-sm
              %i.fa.fa-circle.fa-stack-2x.text-dark
              %i.fa.fa-shopping-cart.fa-stack-1x.text-white
            %a.clear{:href => '#'}
              %span.h3.block.m-t-xs
                %strong#bugs= current_location.sales.count
              %small.text-muted.text-uc Total Sellings
          .col-sm-6.col-md-3.padder-v.b-r.b-light
            %span.fa-stack.fa-2x.pull-left.m-r-sm
              %i.fa.fa-circle.fa-stack-2x.text-dark
              %i.fa.fa-inbox.fa-stack-1x.text-white
            %a.clear{:href => items_path}
              %span.h3.block.m-t-xs
                %strong#firers= current_location.items.count
              %small.text-muted.text-uc Total Items
          .col-sm-6.col-md-3.padder-v.b-r.b-light.lt
            %span.fa-stack.fa-2x.pull-left.m-r-sm
              %i.fa.fa-circle.fa-stack-2x.text-dark
              %i.fa.fa-clock-o.fa-stack-1x.text-white
            %a.clear{:href => "#"}
              %span.h3.block.m-t-xs
                %strong= current_company.low_stock_items.count
              %small.text-muted.text-uc Low Stock
      .row.quick-actions
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
          .list-group
            = link_to raw("<i class='fa fa-clock-o fa-2x'></i>Today's closeout report") , '#' , class: 'list-group-item'
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
          .list-group
            = link_to raw("<i class='fa fa-ticket fa-2x'></i>Today's detailed sales report") , '#' , class: 'list-group-item'
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
          .list-group
            = link_to raw("<i class='fa fa-pencil-square-o fa-2x'></i>Today's summary items report") , '#' , class: 'list-group-item'
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
          .list-group
            = link_to raw("<i class='fa fa-shopping-cart fa-2x'></i>Start a New Sale") , new_sale_path , class: 'list-group-item'
      .row
        .col-md-12
          %section.panel.panel-default
            %header.panel-heading.font-bold Statistics
            .panel-body
              #flot-1ine{:style => "height:210px"}
            %footer.panel-footer.bg-white.no-padder
              .row.text-center.no-gutter
                .col-xs-3.b-r.b-light
                  %span.h4.font-bold.m-t.block 5,860
                  %small.text-muted.m-b.block Orders
                .col-xs-3.b-r.b-light
                  %span.h4.font-bold.m-t.block= current_location.sales.count
                  %small.text-muted.m-b.block Sellings
                .col-xs-3.b-r.b-light
                  %span.h4.font-bold.m-t.block= current_location.items.count
                  %small.text-muted.m-b.block Items
                .col-xs-3
                  %span.h4.font-bold.m-t.block= current_location.customers.count
                  %small.text-muted.m-b.block Customers
    / <div class="col-md-4">
    / <section class="panel panel-default">
    / <header class="panel-heading font-bold">Data graph</header>
    / <div class="bg-light dk wrapper">
    / <span class="pull-right">Friday</span>
    / <span class="h4">$540<br>
    / <small class="text-muted">+1.05(2.15%)</small>
    / </span>
    / <div class="text-center m-b-n m-t-sm">
    / <div class="sparkline" data-type="line" data-height="65" data-width="100%" data-line-width="2" data-line-color="#dddddd" data-spot-color="#bbbbbb" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="3" data-resize="true" values="280,320,220,385,450,320,345,250,250,250,400,380"></div>
    / <div class="sparkline inline" data-type="bar" data-height="45" data-bar-width="6" data-bar-spacing="6" data-bar-color="#65bd77">10,9,11,10,11,10,12,10,9,10,11,9,8</div>
    / </div>
    / </div>
    / <div class="panel-body">
    / <div>
    / <span class="text-muted">Total:</span>
    / <span class="h3 block">$2500.00</span>
    / </div>
    / <div class="line pull-in"></div>
    / <div class="row m-t-sm">
    / <div class="col-xs-4">
    / <small class="text-muted block">Monthly</small>
    / <span>$1500.00</span>
    / </div>
    / <div class="col-xs-4">
    / <small class="text-muted block">Today</small>
    / <span>$540.00</span>
    / </div>
    / <div class="col-xs-4">
    / <small class="text-muted block">Profit</small>
    / <span>$400.00</span>
    / </div>
    / </div>
    / </div>
    / </section>
    / </div>