<section class="panel panel-default">
  <!--<div class="section-heading margin-b10">-->
    <!--&lt;!&ndash;<h2 class="pull-left">Profit &amp; Loss</h2>&ndash;&gt;-->
    <!--<form class="form-inline pull-right">-->
      <!--<div id="reportrange"></div>-->
    <!--</form>-->
    <!--<ul class="nav nav-pills pull-right" id="financial-graph-period">-->
      <!--<li>-->
        <!--<a href="#" onclick="return false" period="1m">Month</a>-->
      <!--</li>-->
      <!--<li class="active">-->
        <!--<a href="#" onclick="return false" period="3m">Quarter</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#" onclick="return false" period="6m">Half Year</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#" onclick="return false" period="1y">Year</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#" onclick="return false" period="2y">Two Years</a>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<div class="clear"></div>-->
  <!--</div>-->
  <header class="panel-heading font-bold">Sale Information</header>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <div id="chartContainer"><%= @charts.render() %></div>
      </div>
    </div>
  </div>
  <footer class="panel-footer bg-white no-padder">
    <div class="row text-center no-gutter">
      <div class="col-xs-3 b-r b-light">
        <span class="h4 font-bold m-t block"><%= @sales.count %></span>
        <small class="text-muted m-b block">Orders</small>
      </div>
      <div class="col-xs-3 b-r b-light">
        <span class="h4 font-bold m-t block"><%= current_company.line_items.sum(:quantity)%></span>
        <small class="text-muted m-b block">Sellings</small>
      </div>
      <div class="col-xs-3 b-r b-light">
        <span class="h4 font-bold m-t block"><%= current_company.line_items.map(&:item_id).uniq.count %></span>
        <small class="text-muted m-b block">Items</small>
      </div>
      <div class="col-xs-3">
        <span class="h4 font-bold m-t block"><%= (@sales.map(&:customer_id).uniq - [nil]).count%></span>
        <small class="text-muted m-b block">Customers</small>
      </div>
    </div>
  </footer>
</section>

