<!-- header -->

<header id="header" class="navbar navbar-fixed-top bg-white box-shadow b-b b-light"  data-spy="affix" data-offset-top="1">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"><img src="<%=asset_path('logo-white.png')%>" class="m-r-sm" style="min-height: 50px;"><span class="text-muted"></span></a>
      <button class="btn btn-link visible-xs" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if user_signed_in? %>
              <a href="<%= dashboard_index_path %>">
                <span class="thumb-sm avatar pull-left">
                  <%= image_tag current_user.photo %>
                </span>
                <span class="font-bold"><%= current_user.username %></span>
              </a>
          <% else %>
              <div class="m-t-sm"> <a href="<%=new_user_session_path%>" class="btn btn-sm btn-info m-l"><strong>Sign in</strong></a></div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</header>
<!-- / header -->