<!-- .aside -->
<aside class="bg-light lter b-r aside-md" id="nav">
  <section class="vbox">
    <!--<header class="header bg-primary lter text-center clearfix">-->
      <!--&lt;!&ndash;<div class="btn-group">&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-sm btn-dark btn-icon" title="New project"><i class="fa fa-plus"></i></button>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="btn-group hidden-nav-xs">&ndash;&gt;-->
          <!--&lt;!&ndash;<button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">&ndash;&gt;-->
            <!--&lt;!&ndash;Switch Project&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="caret"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;</button>&ndash;&gt;-->
          <!--&lt;!&ndash;<ul class="dropdown-menu text-left">&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">Project</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">Another Project</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">More Projects</a></li>&ndash;&gt;-->
          <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</header>-->
    <section class="w-f scrollable">
      <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">

        <!-- nav -->
        <nav class="nav-primary hidden-xs">
          <ul class="nav">
            <li  class="<%= dashboard_active  %>">
              <a href="<%= dashboard_index_path %>"   class="<%= dashboard_active %>">
                <i class="fa fa-dashboard icon">
                  <b class="bg-danger"></b>
                </i>
                <span>HOME</span>
              </a>
            </li>

            <% if current_user.can_update_users  == true %>
                <li  class="<%= users_active  %>">
                  <a href="<%= users_path %>"  class="<%= users_active  %>" >
                    <i class="fa fa-user icon">
                      <b class="bg-warning"></b>
                    </i>
                    <span>EMPLOYEES</span>
                  </a>
                </li>
            <% end %>
            <li >
              <a href="<%= item_categories_path %>" class="<%= item_categories_active%>" >
                <i class="fa fa-rocket icon">
                  <b class="bg-success"></b>
                </i>
                <span>Expenses</span>
              </a>
            </li>
            <li class="<% reports_active%>" >
              <a href="<%= reports_path %>" class="<% reports_active%>" >
                <i class="fa fa-pencil-square-o icon">
                  <b class="bg-info"></b>
                </i>
                <span>REPORTS</span>
              </a>
            </li>


            <li class="<%= item_categories_active%>" >
              <a href="#item_category"  class="<%= item_categories_active%>" >
                <i class="fa fa-file-text icon">
                  <b class="bg-primary"></b>
                </i>
                        <span class="pull-right">
                          <i class="fa fa-angle-down text"></i>
                          <i class="fa fa-angle-up text-active"></i>
                        </span>
                <span>INVENTORY</span>
              </a>
              <ul class="nav lt">
                <li >
                  <a href="<%= item_categories_path %>" class="<%= item_categories_active%>" >
                    <i class="fa fa-angle-right"></i>
                    <span>Items Category</span>
                  </a>
                </li>
                <li >
                  <a href="<%= items_path %>" class="<%= item_categories_active%>" >
                    <i class="fa fa-angle-right"></i>
                    <span>Items</span>
                  </a>
                </li>
                <li >
                  <a href="<%= items_path %>" class="<%= item_categories_active%>" >
                    <i class="fa fa-angle-right"></i>
                    <span>Purchase Items</span>
                  </a>
                </li>
              </ul>
            </li>

                <li  class="<%= customers_active  %>">
                  <a href="<%= customers_path %>"  class="<%= customers_active  %>" >
                    <i class="fa fa-user icon">
                      <b class="bg-dark"></b>
                    </i>
                    <span>CUSTOMERS</span>
                  </a>
                </li>

            <% if current_user.can_update_users  == true %>
                <li  class="<%= "#"  %>">
                  <a href="<%= sales_path %>"  class="<%= "#"  %>" >
                    <i class="fa fa-user icon">
                      <b class="bg-danger"></b>
                    </i>
                    <span>SALES</span>
                  </a>
                </li>
            <% end %>
          </ul>
        </nav>
        <!-- / nav -->
      </div>
    </section>

    <footer class="footer lt hidden-xs b-t b-light">
      <div id="chat" class="dropup">
        <section class="dropdown-menu on aside-md m-l-n">
          <section class="panel bg-white">
            <header class="panel-heading b-b b-light">Active chats</header>
            <div class="panel-body animated fadeInRight">
              <p class="text-sm">No active chats.</p>
              <p><a href="#" class="btn btn-sm btn-default">Start a chat</a></p>
            </div>
          </section>
        </section>
      </div>
      <div id="invite" class="dropup">
        <section class="dropdown-menu on aside-md m-l-n">
          <section class="panel bg-white">
            <header class="panel-heading b-b b-light">
              John <i class="fa fa-circle text-success"></i>
            </header>
            <div class="panel-body animated fadeInRight">
              <p class="text-sm">No contacts in your lists.</p>
              <p><a href="#" class="btn btn-sm btn-facebook"><i class="fa fa-fw fa-facebook"></i> Invite from Facebook</a></p>
            </div>
          </section>
        </section>
      </div>
      <a href="#nav" data-toggle="class:nav-xs" class="pull-right btn btn-sm btn-default btn-icon">
        <i class="fa fa-angle-left text"></i>
        <i class="fa fa-angle-right text-active"></i>
      </a>
    </footer>
  </section>
</aside>
<!-- /.aside -->