- unless @sale.customer.blank?
  %h4.text-primary
    %span.glyphicon.glyphicon-user
    Customer
  .table-responsive
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th First Name
          %th Last Name
          %th Email Address
          %th Phone Number
          %th Country
          %th City
          %th State
          %th zip
      %tbody
        = fields_for :customer, sale.customer do |e|
          %tr
            %td= e.text_field :first_name, :class => "form-control", :placeholder => "First Name", :readonly => true
            %td= e.text_field :last_name, :class => "form-control", :placeholder => "Last Name", :readonly => true
            %td= e.text_field :email_address, :class => "form-control", :placeholder => "Email Address", :readonly => true
            %td= e.text_field :phone_number, :class => "form-control", :placeholder => "Email Address", :readonly => true
            = e.fields_for :address do |a|
              %td= a.text_field :country, :class => "form-control", :placeholder => "Email Address", :readonly => true
              %td= a.text_field :city, :class => "form-control", :placeholder => "Email Address", :readonly => true
              %td= a.text_field :state, :class => "form-control", :placeholder => "Email Address", :readonly => true
              %td= a.text_field :zip, :class => "form-control", :placeholder => "Email Address", :readonly => true
