<%= fields_for @user do |f|%>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>User Name</label>
          <%= f.text_field :username, :class => "form-control input-lg ", :placeholder => "Enter Employee Name" %>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Email<span class="text-danger"> *</span></label>
          <%= f.text_field :email, required: true , :class => "form-control input-lg ", :placeholder => "Email Address" %>
        </div>
      </div>


    </div>
    <div class="row">

      <div class="col-sm-6">
        <div class="form-group">
          <label>Salary</label>
          <%= f.text_field :salary, :class => "form-control input-lg ", :placeholder => "Enter Salary" %>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Skills</label>
          <%= f.text_field :skills, :class => "form-control input-lg ", :placeholder => "Enter Employee Skills" %>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-6">
        <div class="form-group">
          <label>Password<span class="text-danger"> *</span></label>
          <%= f.text_field :password, :class => "form-control input-lg ", :placeholder => "Secret Password", :type => "password" , required: true %>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Password Confirmation</label>
          <%= f.text_field :password, required: true , :class => "form-control input-lg ", :placeholder => "Secret Password", :type => "password" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12">
        <label>Role<span class="text-danger"> *</span></label>
        <%= f.select(:role_id, @roles.collect {|role| [ role.name, role.id ] }, {prompt: 'Select Employee Role'} ,required: true , class: "form-control input-lg select2-container select2-container-active" ) %>
      </div>

    </div>
    <div class="line line-dashed line-lg pull-in"></div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit :class=>"btn btn-info btn-md" %>
        <%= button_tag "Cancel", :type => 'reset',:class=>"btn btn-md" %>
      </div>
    </div>
<% end %>


