%body
  %section.hbox.stretch
    %aside
      %section.vbox
        %header.header.bg-white.b-b.clearfix
          .row.m-t-sm
            .col-sm-8.m-b-xs
              / <a href="#subNav" data-toggle="class:hide" class="btn btn-sm btn-default active"><i class="fa fa-caret-right text fa-lg"></i><i class="fa fa-caret-left text-active fa-lg"></i></a>
              .btn-group
                %button.btn.btn-sm.btn-default{:title => "Refresh", :type => "button"}
                  %i.fa.fa-refresh
              / <button type="button" class="btn btn-sm btn-default" title="Remove"><i class="fa fa-trash-o"></i></button>
              / <button type="button" class="btn btn-sm btn-default" title="Filter" data-toggle="dropdown"><i class="fa fa-filter"></i> <span class="caret"></span></button>
              / <ul class="dropdown-menu">
              / <li><a href="#">Action</a></li>
              / <li><a href="#">Another action</a></li>
              / <li><a href="#">Something else here</a></li>
              / <li class="divider"></li>
              / <li><a href="#">Separated link</a></li>
              / </ul>
              %a.btn.btn.btn-sm.btn-primary{:href => new_user_path}
                %i.fa.fa-plus
                Create
            / <a href="#new-item-category" data-toggle="new-item-category" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Create</a>
            .col-sm-4.m-b-xs
              = search_form_for @search do |f|
                .input-group
                  = f.text_field :username_or_email_cont , class: "input-sm form-control"  , placeholder: "Search"
                  %span.input-group-btn
                    = f.button "Go!" , class: "btn btn-sm btn-default"
        %section.scrollable.wrapper.w-f
          %section.panel.panel-default
            .table-responsive
              %table.table.m-b-none
                %thead
                  %tr
                    / <th width="20"><input type="checkbox"></th>
                    %th Pic
                    %th Name
                    %th Work Location
                    %th Email
                    %th Role
                    -#%th Salay
                    %th Status
                    %th
                      %span.pull-right Actions
                %tbody
                  - @users.each do |user|
                    %tr
                      / <td><input type="checkbox" name="user[]" value="<haml_silent></haml_silent>"></td>
                      %td
                        .thumb-sm.avatar
                          = image_tag user.photo
                      %td= user.username
                      %td= user.locations.map(&:name).join(', ')
                      %td= user.email
                      %td= user.role.name
                      -#%td= number_to_currency(user.salary , unit: current_company.currency)
                      %td= user.confirmed? ? 'Confirmed' : 'Pending'
                      %td.text-right
                        = link_to raw("<i class= 'fa fa-pencil'></i>"),edit_user_path(user), class: "btn btn-dark"
                        = link_to raw("<i class= 'fa fa-times'></i>"),user, class: "btn btn-dark",:method => :delete, data: {:confirm => "Are you sure?"}
        / <tr>
        / <td><input type="checkbox" name="post[]" value="2"></td>
        / &lt;!&ndash;<td><a href="#modal" data-toggle="modal"><i class="fa fa-search-plus"></i></a></td>&ndash;&gt;
        / <td>Idrawfast</td>
        / <td>4c</td>
        / <td>Jul 25, 2013</td>
        / <td>
        / &lt;!&ndash;<a href="#" class="active" data-toggle="class"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>&ndash;&gt;
        / </td>
        / </tr>
        %footer.footer.bg-white.b-t
          .row.text-center-xs.pull-right{:style => "margin: 0px 2%;"}
            = will_paginate @users, renderer: BootstrapPagination::Rails
  %a.hide.nav-off-screen-block{"data-target" => "#nav", "data-toggle" => "class:nav-off-screen", :href => "#"}
    / </section>
