
  <section class="vbox">
    <section class="scrollable padder">
      <div class="col-sm-12">
        <section class="panel panel-default">
          <header class="panel-heading" style="background:#FFF;">
            <h3 style="color:#717171;">Customer Details</h3>
          </header>
          <div class="panel-body">
<%= form_for @customer , html: {class: "bs-example form-horizontal"} do |f|  %>

    <div class="form-group">
      <%= f.label :first_name , class: 'col-lg-2 control-label' , required: true %>
      <div class="col-lg-10">
        <%= f.text_field :first_name, :class=>"form-control" , required: true %>                    <!--<span class="help-block m-b-none">Website URL.</span>-->
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Last Name</label>
      <div class="col-lg-10">
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <%= f.text_field :email_address, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Phone</label>
      <div class="col-lg-10">
        <%= f.text_field :phone_number, :class=>"form-control" %>
      </div>
    </div>
    <legend>Address</legend>
    <%= f.fields_for :address do |a|%>
        <div class="form-group">
          <label class="col-lg-2 control-label">Address</label>
          <div class="col-lg-10">
            <%= a.text_field :address_1, :class=>"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">City</label>
          <div class="col-lg-10">
            <%= a.text_field :city, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">State</label>
          <div class="col-lg-10">
            <%= a.text_field :state, :class=>"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Zip Code</label>
          <div class="col-lg-10">
            <%= a.text_field :zip, :class=>"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Country</label>
          <div class="col-lg-10">
            <%= a.country_select(:country ,  {prompt: 'Select Country'} ,{ class: "form-control select2-container select2-container-active" , required: true } ) %>
          </div>
        </div>
    <% end%>

    <div class="line line-dashed line-lg pull-in"></div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit 'Submit' , class:"btn btn-info" %>
        <%= button_tag "Cancel", type: 'reset',:class=>"btn" %>
      </div>
    </div>
<% end %>
          </div>
        </section>
      </div>
    </section>
</section>
<% content_for :scripts do %>
    <script>
        $(document).ready(function(){
            $('<%= params[:action] == 'new' ? "#new_customer" : "#edit_customer_#{params[:id]}"%>').validate();
        });
    </script>
<%end%>
