
  <%= form_for(@customer) do |f| %>



      <div class="row">
        <div class="col-sm-6">
          <label>First Name</label>
          <div class="form-group">
            <%= f.text_field :first_name, :class => "form-control input-lg", :placeholder => "First Name" %>
          </div>
        </div>
        <div class="col-sm-6">
          <label>Last Name</label>
          <div class="form-group">
            <%= f.text_field :last_name, :class => "form-control input-lg", :placeholder => "Last Name" %>
          </div>
        </div>
      </div>

        <div class="row">
          <div class="col-sm-6">
            <label>Phone Number</label>
            <div class="form-group">
                <%= f.text_field :phone_number, :class => "form-control input-lg", :placeholder => "Phone Number" %>
            </div>
            </div>
          <div class="col-sm-6">
            <label>Email Address</label>
            <div class="form-group">
                <%= f.text_field :email_address, :class => "form-control input-lg", :id =>  "exampleInputEmail1", :placeholder => "Email Address" %>
            </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label>Address</label>
            <div class="form-group">
                <%= f.text_field :address, :class => "form-control input-lg", :placeholder => "Address" %>
            </div>
          </div>
          <div class="col-sm-6">
            <label>City</label>
            <div class="form-group">
                <%= f.text_field :city, :class => "form-control input-lg", :placeholder => "City" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label>State</label>
            <div class="form-group">
                <%= f.text_field :state, :class => "form-control input-lg", :placeholder => "State" %>
            </div>
          </div>
          <div class="col-sm-6">
            <label>Zip</label>
            <div class="form-group">
                <%= f.text_field :zip, :class => "form-control input-lg", :placeholder => "Zip" %>
            </div>
          </div>
        </div>

      <div class="line line-dashed line-lg pull-in"></div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <%= f.submit :class=>"btn btn-info btn-md" %>
          <%= button_tag "Cancel", :type => 'reset',:class=>"btn btn-md" %>
        </div>
      </div>
      <% end %>