-if @customers.empty? && !params[:q].present?
  = render 'template/empty_list' , icon: 'fa fa-male fa-3x icon' ,link_text: 'Add Customer' ,  head: 'Customers list empty' ,url: new_customer_path , t1: ' Create items with names, contact information' , t2: 'and locations to speed-up dispatching.'
- else
  %section.hbox.stretch
    %aside
      %section.vbox
        %header.header.bg-white.b-b.clearfix
          .row.m-t-sm
            .col-sm-4.m-b-xs.pull-right
              = search_form_for @search do |f|
                .input-group
                  = f.text_field :first_name_or_email_address_or_last_name_cont , class: "input-sm form-control"  , placeholder: "Search..."
                  %span.input-group-btn
                    = f.button "Go!".html_safe , class: "btn btn-sm btn-default" , data: {disable_with: disable_spinning('')}
            .col-sm-2.m-b-xs.pull-left
              = link_to raw("<i class='fa fa-plus icon '></i> Create") , new_customer_path , remote: true , class: "btn btn btn-sm btn-primary"
        %section.scrollable.wrapper.w-f
          %section.panel.panel-default
            .table-responsive
              %table.table.m-b-none.customer-table
                %thead
                  %tr
                    %th Name
                    %th Email
                    %th Address
                    %th
                      %span.pull-right Actions
                %tbody
                  -if @customers.empty?
                    %td No records found.
                  -else
                    - @customers.each do |customer|
                      = render 'customers/partials/tr' ,  customer: customer , new: false
        %footer.footer.bg-white.b-t
          .row.text-center-xs.pull-right{:style => "margin: 0px 2%;"}
            = will_paginate @customers, renderer: BootstrapPagination::Rails