<%= render 'customers/partials/new_customer_modal' %>
  <section class="hbox stretch">
    <aside>

      <section class="vbox">


        <header class="header bg-white b-b clearfix">
          <div class="row m-t-sm">
            <div class="col-sm-10 m-b-xs pull-left">
              <%= form_for item_categories_path do |f| %>
                  <div class="input-group">
                    <%= f.text_field :name , class: "input-sm form-control"  , placeholder: "Search Coming Soon" %>
                    <span class="input-group-btn">
                        <%= f.button "Go!" , class: "btn btn-sm btn-default" %>
                    </span>
                  </div>
              <%end%>

            </div>
            <div class="col-sm-2 m-b-xs pull-right">
              <!--<a href="#subNav" data-toggle="class:hide" class="btn btn-sm btn-default active"><i class="fa fa-caret-right text fa-lg"></i><i class="fa fa-caret-left text-active fa-lg"></i></a>-->
              <!--<div class="btn-group">-->
                <!--&lt;!&ndash;<button type="button" class="btn btn-sm btn-default" title="Refresh"><i class="fa fa-refresh"></i></button>&ndash;&gt;-->
                <!--&lt;!&ndash;<button type="button" class="btn btn-sm btn-default" title="Remove"><i class="fa fa-trash-o"></i></button>&ndash;&gt;-->
                <!--&lt;!&ndash;<button type="button" class="btn btn-sm btn-default" title="Filter" data-toggle="dropdown"><i class="fa fa-filter"></i> <span class="caret"></span></button>&ndash;&gt;-->
                <!--&lt;!&ndash;<ul class="dropdown-menu">&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="#">Action</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="#">Another action</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="#">Something else here</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="#">Separated link</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
              <!--</div>-->
              <%= link_to raw("<i class='fa fa-plus'></i> Create") , '#' , class: "btn btn btn-sm btn-primary pull-right" ,data: {'toggle': "modal" , 'target': "#new_customer_modal"}%>
              <!--<a href="#new-item-category" data-toggle="new-item-category" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Create</a>-->
            </div>



          </div>
        </header>
        <section class="scrollable wrapper w-f">
          <section class="panel panel-default">
            <div class="table-responsive">
              <table class="table table-striped m-b-none">
                <thead>
                <tr>
                  <!--<th width="20"><input type="checkbox"></th>-->
                  <th>Last Name</th>
                  <th>First Name</th>
                  <th>Email</th>
                  <th><span class="pull-right">Actions</span></th>
                </tr>
                </thead>
                <tbody>
                <% @customers.each do |customer| %>
                    <tr>
                      <!--<td><input type="checkbox" name="user[]" value="<%#= user.id %>"></td>-->
                      <td><%= customer.last_name %></td>
                      <td><%= customer.first_name %></td>
                      <td><%= customer.email %></td>
                      <td class="text-right">
                        <%=link_to raw("<i class= 'fa fa-pencil'></i>"),edit_customer_path(customer), class: "btn btn-dark"%>
                        <%=link_to raw("<i class= 'fa fa-times'></i>"),customer, class: "btn btn-dark",:method => :delete, data: {:confirm => "Are you sure?"}%>
                      </td>
                    </tr>
                <% end %>
                <!--<tr>-->
                <!--<td><input type="checkbox" name="post[]" value="2"></td>-->
                <!--&lt;!&ndash;<td><a href="#modal" data-toggle="modal"><i class="fa fa-search-plus"></i></a></td>&ndash;&gt;-->
                <!--<td>Idrawfast</td>-->
                <!--<td>4c</td>-->
                <!--<td>Jul 25, 2013</td>-->
                <!--<td>-->
                <!--&lt;!&ndash;<a href="#" class="active" data-toggle="class"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>&ndash;&gt;-->
                <!--</td>-->
                <!--</tr>-->
                </tbody>
              </table>
            </div>
          </section>
        </section>
        <footer class="footer bg-white b-t">
          <div class="row text-center-xs pull-right" style="margin: 0px 2%;">
            <%= will_paginate @customers, renderer: BootstrapPagination::Rails %>
          </div>

        </footer>
      </section>
    </aside>
  <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</section>