<%= render 'template/landing_header' %>
<section id="content">
  <div class="bg-info dk">
    <div class="text-center wrapper">
      <div class="m-t-xl m-b-xl" style="min-width: 100%;">
        <div class="text-uc h3 font-bold inline">
          <div class="pull-left m-r-sm text-white">Tend and Invigorate your business <span class="font-thin "> with</span></div>
              <div class="carousel slide carousel-fade inline auto aside text-left pull-left pull-none-xs" data-interval="2000" style="min-width: 450px;">
                <div class="carousel-inner">
                  <div class="item active text-warning">
                    inventory management
                  </div>
                  <div class="item text-dark">
                    Expense Management
                  </div>
                  <div class="item">
                    Sales Summary
                  </div>
                  <div class="item text-danger">
                    Easy Point of sale
                  </div>
                  <div class="item text-warning">
                    Profit and Loss reviews
                  </div>
                  <div class="item text-dark">
                    Employees Management
                  </div>
                  <div class="item">
                    Multiple location Management
                  </div>
                </div>
              </div>
        </div>
        <!--<div class="h4 m-t-sm" style="color: #d1efef!important;"></div>-->
      </div>
      <p class="text-center m-b-xl">
        <a href="<%=new_company_path%>" target="_blank" class="btn btn-lg btn-warning b-white bg-empty m-sm">Get Started</a>
      </p>
    </div>
    <div class="padder">
      <div class="hbox">
        <aside class="col-md-3 v-bottom text-right">
          <div class="hidden-sm hidden-xs">
            <section class="panel bg-dark inline m-b-n-lg m-r-n-lg aside-sm no-border device phone animated fadeInLeftBig">
              <header class="panel-heading text-center">
                <i class="fa fa-minus fa-2x m-b-n-xs block"></i>
              </header>
              <div>
                <div class="m-l-xs m-r-xs">
                  <img src="<%=asset_path('phone-2.png')%>" class="img-full" >
                </div>
              </div>
            </section>
          </div>
        </aside>
        <aside class="col-sm-10 col-md-6">
          <section class="panel bg-dark m-b-n-lg no-border device animated fadeInUp">
            <header class="panel-heading text-left">
              <i class="fa fa-circle fa-fw"></i>
              <i class="fa fa-circle fa-fw"></i>
              <i class="fa fa-circle fa-fw"></i>
            </header>
            <img src="<%=asset_path('main.png')%>" class="img-full" >
          </section>
        </aside>
        <aside class="col-md-3 v-bottom">
          <div class="hidden-sm hidden-xs">
            <section class="panel bg-light m-b-n-lg m-l-n-lg aside no-border device phone animated fadeInRightBig">
              <header class="panel-heading text-center">
                <i class="fa fa-minus fa-2x text-white m-b-n-xs block"></i>
              </header>
              <div class="">
                <div class="m-l-xs m-r-xs">
                  <img src="<%=asset_path('phone-1.png')%>" class="img-full" >
                </div>
              </div>
            </section>
          </div>
        </aside>
      </div>
    </div>
    <div class="dker pos-rlt">
      <div class="container wrapper">
        <div class="m-t-lg m-b-lg text-center">
          <%= SITE_NAME %> provides an easy-to-use and advanced inventory management system for small to medium sized businesses.
        </div>
      </div>
    </div>
  </div>
  <div id="about">
    <div class="container">
      <!--<div class="m-t-xl m-b-xl text-center wrapper">-->
        <!--<h3>Responsive web application and admin dashboard template</h3>-->
        <!--<p class="text-muted">This web based app template give you much power to build your great application.</p>-->
      <!--</div>-->
      <div class="row m-t-xl m-b-xl text-center">
        <div class="col-sm-4" data-ride="animated" data-animation="fadeInLeft" data-delay="300">
          <p class="h3 m-b-lg">
            <i class="fa fa-lightbulb-o fa-3x text-info"></i>
          </p>
          <div class="">
            <h4 class="m-t-none"></h4>
            <p class="text-muted m-t-lg"> <%= SITE_NAME %> is the point of sale that takes care of digital receipts, inventory, and sales reports and provides valuable analytics and feedback so you can focus on your customers.</p>
          </div>
        </div>
        <div class="col-sm-4" data-ride="animated" data-animation="fadeInLeft" data-delay="600">
          <p class="h3 m-b-lg">
            <i class="fa fa-signal fa-3x text-info"></i>
          </p>
          <div class="">
            <h4 class="m-t-none"></h4>
            <p class="text-muted m-t-lg"> Tend360 serves businesses big and small, from corner bakeries to retailers around the world. It works with hardware and software accessories that make it easier to run your business.</p>
          </div>
        </div>
        <div class="col-sm-4" data-ride="animated" data-animation="fadeInLeft" data-delay="900">
          <p class="h3 m-b-lg">
            <i class="fa fa-rocket fa-3x text-info"></i>
          </p>
          <div class="">
            <h4 class="m-t-none"></h4>
            <p class="text-muted m-t-lg">We’re constantly improving with free updates that equip you with great new features to help you run your business more efficiently and effectively.</p>
          </div>
        </div>
      </div>
      <div class="m-t-xl m-b-xl text-center wrapper">
        <p class="h3">Download <%= SITE_NAME %></p>
          <br>
          <span class="text-info h4"><%= SITE_NAME %> is available in the</span>
          <span class="text-info h4">App Store</span>
          <span class="text-muted h5">and</span>
          <span class="text-info h4 ">Google Play.</span>

      </div>
    </div>
  </div>
  <!--<div id="responsive" class="bg-dark">-->
    <!--<div class="text-center">-->
      <!--<div class="container">-->
        <!--<div class="m-t-xl m-b-xl wrapper">-->
          <!--<h3 class="text-white">Your application will works no matter where you are</h3>-->
          <!--&lt;!&ndash;<p>You can use your application at anywhere in the world. <br>This template works on <span class="text-primary text-ul">mobile device</span> too.</p>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="row m-t-xl m-b-xl">-->
          <!--<div class="col-sm-4 wrapper-xl" data-ride="animated" data-animation="fadeInLeft" data-delay="300">-->
            <!--<p class="text-center h2 m-b-lg m-t-lg">-->
                <!--<span class="fa-stack fa-2x">-->
                  <!--<i class="fa fa-circle fa-stack-2x text-dark"></i>-->
                  <!--<i class="fa fa-mobile fa-stack-1x text-muted"></i>-->
                <!--</span>-->
            <!--</p>-->
            <!--<p>Mobile</p>-->
          <!--</div>-->
          <!--<div class="col-sm-4 wrapper-xl" data-ride="animated" data-animation="fadeInLeft" data-delay="600">-->
            <!--<p class="text-center h1 m-b-lg">-->
                <!--<span class="fa-stack fa-2x">-->
                  <!--<i class="fa fa-circle fa-stack-2x text-dark"></i>-->
                  <!--<i class="fa fa-tablet fa-stack-1x text-muted"></i>-->
                <!--</span>-->
            <!--</p>-->
            <!--<p>Tablet</p>-->
          <!--</div>-->
          <!--<div class="col-sm-4 wrapper-xl" data-ride="animated" data-animation="fadeInLeft" data-delay="900">-->
            <!--<p class="text-center h2 m-b-lg m-t-lg">-->
                <!--<span class="fa-stack fa-2x">-->
                  <!--<i class="fa fa-circle fa-stack-2x text-dark"></i>-->
                  <!--<i class="fa fa-desktop fa-stack-1x text-muted text-md"></i>-->
                <!--</span>-->
            <!--</p>-->
            <!--<p>Desktop</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div id="newsletter" class="bg-white clearfix wrapper-lg">-->
    <!--<div class="container text-center m-t-xl m-b-xl" data-ride="animated" data-animation="fadeIn">-->
      <!--<h2>Newsletter</h2>-->
      <!--<p>Do not want to miss anything? Subscribe to our newsletter box</p>-->
      <!--<form class="form-inline m-t-xl m-b-xl">-->
        <!--<div class="form-group">-->
          <!--<input class="form-control input-lg" placeholder="Your email" data-ride="animated" data-animation="fadeInLeftBig" data-delay="300">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-default btn-lg" data-ride="animated" data-animation="fadeInRightBig" data-delay="600">Subscribe</button>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
</section>

<%= render 'template/footer' %>
