<section id="content" class="m-t-lg wrapper-md animated fadeInDown">
    <div class="container">

        <a class="navbar-brand block text-center text-center-xs m-t-lg" href="#">Let’s create your account.</a>
        <p class="text-center text-center-xs"><small>Signing up for Tend360 is fast and free — no commitments or long-term contracts.</small></p>
        <section class="m-t-lg row">
            <div class="col-md-8 col-md-offset-2">

                <div class="line line-dashed col-md-12 m-b-lg"></div>

                <%= form_for @company do |f| %>
                <h5 class="text-center text-center-xs"><p id="web-url" style="color:#7cbc20;"></p></h5>

                <div class="form-group col-md-6">
                    <%= f.label :business_name ,class: "control-label"%>
                    <%= f.text_field :company_name, class: 'form-control input-lg' , placeholder: "eg. Your name or store" ,:onkeyup=>"showWebUrl();", required: true,minlength: "3" , autocomplete: "off"%>
                </div>

                <%= f.fields_for :owner do |p| %>
                <div class="form-group col-md-6">
                    <%= p.label :email , class: "control-label"%>
                    <%= p.email_field :email , placeholder: "test@example.com" , class: "form-control input-lg" , required: true, email: true %>
                    <%= p.hidden_field :username %>
                </div>
                  <div class="form-group col-md-6">
                    <%= f.label :business_type , class:"control-label" %>
                    <%= f.select(:business_type_id, BusinessType.all.collect {|b| [ b.name, b.id ] }, {prompt: 'Select Business Type'} , class: "form-control input-lg select2-container select2-container-active" ) %>
                  </div>
                  <div class="form-group col-md-6">
                    <%= f.label :country , class:"control-label" %>
                    <%= f.country_select("country" ,  {prompt: 'Select Country'} ,{ class: "form-control input-lg select2-container select2-container-active" , required: true } ) %>
                  </div>

                <div class="form-group col-md-6">
                    <%= p.label :password , class:"control-label" %>
                    <%= p.password_field :password , class: "form-control input-lg" , placeholder: "Password" , required: true , minlength: "6"  %>
                </div>

                <div class="form-group col-md-6">
                    <%= p.label :confirm_password , class:"control-label" %>
                    <%= p.password_field :password_confirmation , class: "form-control input-lg" , placeholder: "Confirm Password"%>
                </div>

                <%end%>

                <div class="line line-dashed col-md-12 m-b-lg"></div>

                <div class="form-group col-md-6">
                    <label>By clicking submit you agree to the <a href="#">Terms and Policy</a> of Tend360.</label>
                </div>

                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
                </div>

                <div class="line line-dashed col-md-12 m-b-md"></div>

                <div class="form-group col-md-6">
                    <a href="#" class="btn btn-block btn-lg btn-facebook"><i class="fa fa-fw fa-facebook pull-left"></i> Facebook</a>
                </div>

                <div class="form-group col-md-6">
                    <a href="#" class="btn btn-twitter btn-lg btn-block"><i class="fa fa-fw fa-twitter pull-left"></i> Twitter</a>
                </div>
                <%end%>
            </div>
        </section>
    </div>
</section>
<!-- footer -->
<footer id="footer">
    <div class="text-center padder clearfix">
        <p>
            <small>&copy; <%= Time.now.year%> Tend360 All Rights Reserved.</small>
        </p>
    </div>
</footer>
</section>

<script>
    $( document ).ready(function() {
        $('#new_company').validate();
    });
</script>

