
  <section class="vbox">

    <section class="scrollable padder">
      <div class="col-sm-12">
        <section class="panel panel-default" >
          <header class="panel-heading" style="background:#FFF;">
            <h3 style="color:#717171;">Item Category</h3>
          </header>
          <div class="panel-body">
            <%= form_for @item , html: {class: "bs-example form-horizontal"} do |f|  %>
                <!--<p class="text-info">All <em class="text-danger">*</em> are required.</p>-->

                <div class="form-group">
                  <label class="col-lg-2 control-label">Name of Item<em class="text-danger">*</em></label>
                  <div class="col-lg-10">
                    <%= f.text_field :name, class: "form-control", placeholder: "Item Name" , required: true%>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-2 control-label">Item Category<em class="text-danger">*</em></label>
                  <div class="col-lg-10">
                    <%= f.collection_select :item_category_id, current_company.item_categories , :id, :name, {prompt: "Select a category"}, {class: "form-control" , required: true}  %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">
                    SKU<em class="text-danger">*</em>
                  </label>
                  <div class="col-lg-10">
                    <%= f.text_field :sku, class: "form-control", placeholder: "Item Sku" , required: true%>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Item Photo</label>
                  <div class="col-sm-10">
                    <%= f.filepicker_field :photo, class: "btn btn-default",data: { fp_crop_ratio: "*/4", fp_button_class: 'btn btn-default',fp_button_text: 'Upload'}%>
                    <%#= f.file_field :logo, :class=>"filestyle",:style=>"display:none" ,"data-icon" => "false",  "data-classButton" => "btn btn-default",  "data-classInput" => "form-control inline input-s" %>
                    <span class="help-block m-b-none">Image size should be less than 500KB.</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Location<span class="text-danger"> *</span></label>
                  <div class="col-sm-10">
                    <%= f.select(:location_id, current_company.locations.published.collect {|role| [ role.name, role.id ] }, {prompt: 'Select Location'} ,required: true , class: "form-control" ) %>
                    <!--<span class="help-block m-b-none">Image size should be less than 500KB.</span>-->
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-2 control-label">Description</label>
                  <div class="col-lg-10">
                    <%= f.text_area :description, rows: "3",placeholder: "Description About Item", class: "form-control" %>
                  </div>
                </div>


                <legend>Prices </legend>
                <div class="form-group">
                  <label class="col-lg-2 control-label">Price<em class="text-danger">*</em></label>
                  <div class="col-lg-10 input-group">
                    <span class="input-group-addon"><%= current_company.currency %></span>
                    <%= f.number_field :price, :class => "form-control", :placeholder => "Item Price" %>                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">Stock Amount<em class="text-danger">*</em></label>
                  <div class="col-lg-10 input-group">
                    <span class="input-group-addon"><%= current_company.currency %></span>
                    <%= f.number_field :stock_amount, :class => "form-control", :placeholder => "Amount in Stock" %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">Cost Price<em class="text-danger">*</em></label>
                  <div class="col-lg-10 input-group">
                    <span class="input-group-addon"><%= current_company.currency %></span>
                    <%= f.number_field :cost_price, :class => "form-control", :placeholder => "Cost of Item" %>
                  </div>
                </div>

                <!--<div class="form-group">-->
                  <!--<label class="col-lg-2 control-label">Low Stock Alert</label>-->
                  <!--<div class="col-lg-10">-->
                    <!--<%#= f.number_field :low_stock_alert, value: 0 ,class:"form-control" %>-->
                    <!--<span class="help-block m-b-none">Stock Alerts For Products</span>-->
                  <!--</div>-->
                <!--</div>-->


                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                    <%= f.submit :class=>"btn btn-primary" %>
                    <%= button_tag "Cancel", :type => 'reset',:class=>"btn" %>
                  </div>
                </div>
            <% end %>
          </div>
        </section>
      </div>
    </section>
  <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</section>

<script>
    $('#edit_item_<%= @item.id%>').validate();
</script>

