<section class="vbox">
  <section class="scrollable padder">
    <div class="col-sm-12">
      <section class="panel panel-default">
        <header class="panel-heading" style="background:#FFF;">
          <h3 style="color:#717171;"><%= params[:action]%> Expense</h3>
        </header>
        <div class="panel-body">
          <%= form_for @expense , multipart: true , html: {class: "bs-example form-horizontal"} do |f|  %>

              <div class="form-group">
                <label class="col-sm-2 control-label">Start Date</label>
                <div class="col-sm-2">
                  <%= f.text_field :start_date, :class=>"input-sm input-s datepicker-input form-control" , size: "16" , value:  Date.today.to_s , 'data-date-format': "yyyy-mm-dd"  %>
                </div>
                <label class="col-sm-2 control-label">End Date</label>
                <div class="col-sm-4">
                  <%= f.text_field :end_date, :class=>"input-sm input-s datepicker-input form-control" , size: "16" , value:  Date.today.to_s , 'data-date-format': "yyyy-mm-dd"  %>                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-2 control-label">Title<em class="text-danger">*</em></label>
                <div class="col-lg-10">
                  <%= f.text_field :expense_type, :class=>"form-control" %>                    <!--<span class="help-block m-b-none">Website URL.</span>-->
                </div>
              </div>



              <div class="form-group">
                <label class="col-sm-2 control-label">Receipts</label>
                <div class="col-sm-10">
                  <%= f.file_field :attachment, class: "btn btn-default",data: { fp_crop_ratio: "*/4", fp_button_class: 'btn btn-default',fp_button_text: 'Upload'}%>

                  <%#= f.file_field :logo, :class=>"filestyle",:style=>"display:none" ,"data-icon" => "false",  "data-classButton" => "btn btn-default",  "data-classInput" => "form-control inline input-s" %>
                  <span class="help-block m-b-none">Upload file not more than 500KB.</span>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-2 control-label">Expense<em class="text-danger">*</em></label>
                <div class="col-lg-10">
                  <div class="input-group">
                  <span class="input-group-addon"><%= current_company.currency %></span>
                  <%= f.number_field :amount, :class => "form-control", :placeholder => "Expense" %>
                </div></div>
              </div>

              <!--<div class="form-group">-->
              <!--<label class="col-lg-2 control-label">Tag Line</label>-->
              <!--<div class="col-lg-10">-->
              <!--<%#= f.text_field :tag_line, :class=>"form-control" %>-->
              <!--<span class="help-block m-b-none">Company tag-line or slogon</span>-->
              <!--</div>-->
              <!--</div>-->
              <div class="form-group">
                <label class="col-lg-2 control-label">Expense Note</label>
                <div class="col-lg-10">
                  <%= f.text_area :purpose, rows: "4",placeholder: "Expense Note", class: "form-control" %>
                </div>
              </div>

              <div class="line line-dashed line-lg pull-in"></div>
              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <%= f.submit  :class => "btn btn-info" %>
                  <%= button_tag "Cancel", type: 'reset',:class=>"btn" %>
                </div>
              </div>
          <% end %>
        </div>
      </section>
    </div>
  </section>
</section>

<script>
    $('#new_user').validate();
    $(".datepicker").datetimepicker({format : 'YYYY-MM-DD',widgetPositioning: {vertical: 'bottom',horizontal: 'left'}});
    $(".datepicker-input-expense").datetimepicker({format : 'YYYY-MM-DD',widgetPositioning: {vertical: 'top',horizontal: 'left'}});

</script>

