-if @expenses.empty? && !params[:q].present?
  = render 'template/empty_list' , icon: 'fa fa-male fa-3x icon' , head: 'Expenses list empty' ,link_text: 'Add Expense' , url: new_expense_path , t1: ' Create items with names, contact information' , t2: 'and locations to speed-up dispatching.'
- else
  %section.hbox.stretch
    %aside
      %section.vbox
        %header.header.bg-white.b-b.clearfix
          .row.m-t-sm
            .col-sm-8.m-b-xs
              = link_to raw("<i class='fa fa-plus icon '></i> Create") , new_expense_path , remote: true , class: "btn btn btn-sm btn-primary"
            .col-sm-4.m-b-xs
              = search_form_for @search do |f|
                .input-group
                  = f.text_field :expense_type_cont , class: "input-sm form-control"  , placeholder: "Search"
                  %span.input-group-btn
                    = f.submit "Go!" , class: "btn btn-sm btn-default"
        %section.scrollable.wrapper.w-f
          %section.panel.panel-default
            .table-responsive
              %table.table.table-striped.m-b-none
                %thead
                  %tr
                    / <th width="20"><input type="checkbox"></th>
                    %th Pic
                    %th Title
                    %th Purpose
                    %th Paid time
                    %th Duration
                    %th Amount
                    %th
                      %span.pull-right Actions
                %tbody
                  - @expenses.each do |expense|
                    = render 'expenses/partials/tr' , expense: expense
        / <tr>
        / <td><input type="checkbox" name="post[]" value="2"></td>
        / &lt;!&ndash;<td><a href="#modal" data-toggle="modal"><i class="fa fa-search-plus"></i></a></td>&ndash;&gt;
        / <td>Idrawfast</td>
        / <td>4c</td>
        / <td>Jul 25, 2013</td>
        / <td>
        / &lt;!&ndash;<a href="#" class="active" data-toggle="class"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>&ndash;&gt;
        / </td>
        / </tr>
        %footer.footer.bg-white.b-t
          .row.text-center-xs.pull-right{:style => "margin: 0px 2%;"}
            = will_paginate @expenses, renderer: BootstrapPagination::Rails