<header class="header bg-white b-b b-light">
  <a href="#aside" data-toggle="class:show" class="btn btn-sm btn-primary pull-right">Filter</a>
  <p><strong><%= @file_name %></strong></p>
</header>
<section class="scrollable wrapper" style=" top: 50px;">

  <div class="col-sm-12">
    <div class="row">
    <div class="ibox float-e-margins">
      <div class="ibox-title m-b-md">
        <!--<h5>Sales Report [2016-12-29 - 2017-01-27]</h5>-->
        <%= link_to 'Export to CSV' , sales_reports_path(params.merge(format: 'csv'))  , method: :post , class: 'btn btn-sm btn-info pull-right m-r-7' %>
        <%= link_to 'Export to Excel', sales_reports_path(params.merge(format: "xls")) ,  method: :post , class: 'btn btn-sm btn-info pull-right m-r-7' %>
        <%= link_to 'Export to Pdf', sales_reports_path(params.merge(format: "pdf")) ,  method: :post , class: 'btn btn-sm btn-info pull-right m-r-7' %>

      </div>

      <div class="ibox-content table-responsive">
        <!--<h4>Sales Summary</h4>-->
        <!--<hr>-->
        <!--<h5>Total Sales: $ 1,170,051.00</h5>-->
        <!--<h5>Total Sales This Month: $ 0.00</h5>-->
        <!--<h5>Total Sales This Week: $ 0.00</h5>-->
        <!--<h5>Total Sales Last 30 days: $ 0.00</h5>-->


        <!--<hr>-->
        <!--<h4>Last 20 deposit/ Expense</h4>-->
        <!--<hr>-->
        <table class="table table-bordered sys_table">
          <tbody>
            <tr>
                <th>ID</th>
                <th><%= sort_link(@search, :created_at, "Date") %></th>
                <th><%= sort_link(@search, :location_name_cont, "Location") %></th>
                <th class="text-right"><%= sort_link(@search, :customer_first_name_cont, "Customer Name") %></th>
                <th class="text-right"><%= sort_link(@search, :user_username_cont, "Employee Name") %></th>
                <th class="text-right"><%= sort_link(@search, :amount, "Amount") %></th>
                <th class="text-right"><%= sort_link(@search, :tax, "Tax") %></th>
                <th class="text-right"><%= sort_link(@search, :discount, "Discount") %></th>
                <th class="text-right"><%= sort_link(@search, :total_amount, "Total") %></th>
                <th class="text-right">Type</th>
            </tr>
            <% @sales.each do |sale| %>
              <tr>
                <th><%= sale.id %></td>
                <td><%= sale.created_at.strftime("%m/%d/%Y %I:%M%p") %></td>
                <td><%= sale.location.name %></td>
                <td><%= sale.customer.present? ? sale.customer.full_name : "--" %></td>
                <td><%= sale.user.username %></td>
                <td><%= number_to_currency(sale.amount.nil? ? 0 : sale.amount  ) %></td>
                <td><%= number_to_currency(sale.tax) %></td>
                <td><%= number_to_currency(sale.discount.nil? ? 0 : sale.get_discounted_amount  )%></td>
                <td><%= number_to_currency(sale.total_amount) %></td>
                <td><%= sale.payments.last.payment_type.humanize %></td>
              </tr>
          <% end %>


          </tbody>
        </table>
        <footer class="footer bg-white b-t">
          <div class="row text-center-xs pull-right" style="margin: 0px 2%;">
            <%= will_paginate @sales, renderer: BootstrapPagination::Rails %>
          </div>

        </footer>
      </div>



    <!-- Widget-2 end-->
  </div>
</div>
</div>
</section>
<% content_for :right_aside do %>
    <%= render 'reports/partials/sales_filters' %>
<% end %>
<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>