<!DOCTYPE html>
<html class="app">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="robots" content="noindex">
      <meta name="googlebot" content="noindex">
      <%= favicon_link_tag 'favicon.ico'%>
      <title><%= current_user.company_name %></title>
      <meta name="description" content="<%= current_user.company_description %>">
      <meta name="viewport" content ="width=device-width; initial-scale=1.0;">
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
      <%= yield :head %>

    </head>
    
    <body class="bg-light lter b-r" >
        <section class="vbox">
          <% if user_signed_in? %>
              <%= render 'template/menu' %>
          <% end %>
          <section>
            <section class="hbox stretch">
                  <%= render 'template/left_aside'%>
              <section id="content">
                <%#=render partial: "template/bread_crums" if params[:action] != 'index' %>
                <%= yield %>
                <%=render 'locations/partials/user_change_location' if current_user.locations.count > 1 %>
              </section>

              <%= javascript_include_tag :application, "data-turbolinks-track" => true %>
              <%= yield(:scripts) %>
              <script>
                  $(window).load(function() {
                      $('.footer').equalHeights();
                  });
                  $(window).resize(function(){
                      $('.footer').equalHeights();
                  });
              </script>
            </section>
          </section>
        </section>
    </body>
    <%=render 'template/flash_messages' %>
</html>
